<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

List of each landmark:<br>
<% @landmarks.each do |land| %>
  <li><a href="/landmarks/<%= land.id %>">"<%= land.name %> (<%= land.year_completed %>)</a></li>
<% end %>


  </body>
</html>
