<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

List of each landmark:<br>
<% @landmarks.each do |land| %>
  <li><%= land.name %></li>
<% end %>


  </body>
</html>
