<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

List of each figure:<br>
<% @figures.each do |fig| %>
  <li><a href="/figures/<%= fig.id %>"><%= fig.name %></a></li>
<% end %>


  </body>
</html>
