<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Figure</title>
  </head>
  <body>

<form action="/figures" method="POST">
  Figure Name: <input type="text" name="figure[name]" id="figure_name"></input><br>
  Landmarks: <li><% Landmark.all.each do |landmark| %>
        <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input></li>
  Title Name: <input type="text" name="title[name]" id="title_name"></input><br>
  <input type="submit" value="Create New Figure">
</form>



  </body>
</html>
